/* Fundo do site */
body {
    background-color: #ffffff;
    padding-top: 80px;
}

/* Nome da Barra ( SAÚDE E AMIENTE) */

.fs-4 {
    color: #004aad;
}

/* Titulo da Introdução */

.titulo-intoducao {
    color:#004aad
}
/* Cor texto */

.col-lg-6 {
    color:#000000
}

/* Botão principal (Saúde) */
.btn-primary {
    background-color: #004bad !important;
    border: none;
}

/* Botão secundário (Ambiente) */
.btn-outline-secondary {
    color: #004aad !important;
    border-color: #004aad !important;
}

.btn-outline-secondary:hover {
    background-color: #004aad !important;
    color: white !important;
}

/* Links do menu */
.nav-link {
    color: #004aad !important;
}

.nav-link.active {
    background-color: #004aad !important;
    color: white !important;
}

/* Cor do ícone */
.icone {
    color: #0050e4e3;
}