/* Fundo do site */
body {
    background-color: #ffffff;
    padding-top: 80px;
}

/* Nome da Barra ( SAÚDE E AMIENTE) */

.fs-4 {
    color: #004aad;
}

/* Titulos */

.titulo-intoducao {
    color:#004aad
}

.titulo-quem-somos {
    color:#004aad
}
/* Cor texto */

.col-lg-6 {
    color:#000000
}

.btn-outline-secondary:hover {
    background-color: #004aad !important;
    color: white !important;
}

/* Links do menu */
.nav-link {
    color: #004aad !important;
}

.nav-link.active {
    background-color: #004aad !important;
    color: white !important;
}

/* Divisória */

.b-example-divider {
  border-top: 1px solid #000000c2;  /* linha cinza clara */
  width: 100%;                 /* ocupa toda a largura do pai */
  margin: 8rem 0 2rem 0;              /* espaço em cima e embaixo */
}

/* Imagem de fundo */

.introducao-bg {
  background-image: url("imagens/fundo.png"); /* caminho da sua imagem */
  background-size: cover;   /* cobre toda a área */
  background-position: center; /* centraliza */
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 0; /* opcional: cantos arredondados */
}

 /* Define tamanho fixo para imagens dentro dos cards */
    .card-img-top {
        width: 120px;       /* largura menor */
        height: 120px;      /* altura menor */
        object-fit: cover;  /* mantém proporção sem distorcer */
        margin: 15px auto;  /* centraliza a imagem no card */
        border-radius: 50%; /* deixa arredondada (opcional) */
    }